.management {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 140px 0;
}

.management__block-description {
    padding: 0 24px;
    width: 50%;
}
.management__block-description-title {
 color: rgba(33, 37, 41, 1);
font-family: interBold;
font-size: 72px;
line-height: 87px;
text-align: left;
margin-bottom: 24px;
width: 100%;
max-width: 672px;
}

.management__block-description-title span {
    position: relative;
}

.management__block-description-title span::after {
     content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: #f4d27a;
    border-radius: 50%;
    transform: rotate(-1deg);
}

.management__block-description-text {
    color: rgba(33, 37, 41, 1);
font-family: interRegular;
font-size: 18px;
line-height: 30px;
text-align: left;
margin-bottom: 60px;
width: 100%;
max-width: 672px;
}
.management__block-description-free {
    background: #4F9CF9;
    padding: 18px 24px;
    border-radius: 8px;

    color: rgba(255, 255, 255, 1);
font-family: interMedium;
font-size: 18px;
text-align: left;
}

@media screen and (max-width: 1300px) {
    .management__block-images {
        max-width: 500px;

    }

    .management__block-description-title {
        font-size: 55px;
    }
}

@media screen and (max-width: 1152px){
     .management__block-images {
        width: 100%;
        max-width: 528px;
    }
}

@media screen and (max-width: 1000px) {
    .management__block-images {
        width: 100%;
        max-width: 400px;
    }

    .management__block-description-title {
        font-size: 45px;
        line-height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .management {
    flex-direction: column;
}

.management__block-description-title {
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    width: 728px;
}

.management__block-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management__block-description-text {
    width: 560px;
    text-align: center;
}

.management__block-description-free {
    margin-bottom: 100px;
}

.management__block-images {
    width: 561px;
}
}

@media screen and (max-width: 570px) {
    .management__block-description-title {
        font-size: 30px;
    }

    .management__block-description-free {
        min-width: 190px
    }

    .management__block-description-text {
        width: 300px;
    }

    .management__block-images {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .management {
        padding: 0;
        margin-bottom: 100px;
    }

    .management__block-description-title {
        max-width: 288px;
        font-size: 36px;
        line-height: 44px;
    }

    .management__block-description-text {
        max-width: 288px;
    }

    .management__block-description-free {
        min-width: 200px;
        text-align: center;
    }

    .management__block-images {
        max-width: 286px;
    }
}